block footer
  footer
    if(layout)
      .footerLinks
        .leftFooter 
          .footerLink !{layout.footer_contacts}
          .footerLink !{layout.footer_docs}
        .rightFooter
          .footerLink !{layout.footer_terms}
          .footerLink !{layout.footer_policy}
      
