mixin dienstbedingungen()

  h4 
    .headerLink Dienstbedingungen

  h5 
    .headerLink 1. Einführung
        
  p.card-message
    | Open Lab ist eine Plattform zur Verwaltung der Teilnahme an Online-Experimenten und Umfragen. Open Lab wird auf https://open-lab.online (die "Site") gehostet, die Dienste für die Veröffentlichung eines Online-Experiments oder einer Online-Umfrage, die Datensammlung und die Verwaltung der Teilnehmerdatenbank (zusammen der "Dienst") anbietet. Ihre Nutzung des Dienstes und die Bereitstellung des Dienstes für Sie durch uns stellt eine Vereinbarung zwischen Ihnen und Open Lab dar, die an die in diesen Nutzungsbedingungen dargelegten Bestimmungen und Bedingungen gebunden ist.
    
  p.card-message
    | Bitte lesen Sie diese Nutzungsbedingungen sorgfältig durch. Indem Sie sich für den Dienst registrieren oder diesen anderweitig nutzen, bestätigen Sie, dass Sie diese Nutzungsbedingungen, einschließlich unserer <a target="_blank" href="/docs/policy"> Datenschutzrichtlinie</a> (zusammen diese "Bedingungen") gelesen und verstanden haben und damit einverstanden sind, an sie gebunden zu sein. Wenn Sie mit irgendetwas nicht einverstanden sind, was wir in diesen Nutzungsbedingungen vorschlagen, benutzen Sie bitte keinen Teil des Dienstes.

  h5 
    .headerLink 2. Anspruchsberechtigung

  p.card-message
    | Der Dienst ist für die Nutzung durch Personen bestimmt, die mindestens 18 Jahre alt sind. Wenn Sie unter 18 Jahre alt sind, dürfen Sie den Dienst nicht nutzen. Wenn Sie 18 Jahre oder älter sind, stellen Sie bitte sicher, dass Sie nie vom Dienst suspendiert wurden und dass Ihre Nutzung des Dienstes nicht gegen Gesetze oder Vorschriften verstößt. Wenn Sie den Dienst im Namen eines Unternehmens, einer Organisation oder einer anderen Art von Körperschaft nutzen, bestätigen Sie uns gegenüber, dass Sie befugt sind, die Körperschaft in deren Namen an diese Bedingungen zu binden.
    
  h5 
    .headerLink 3. Konten und Registrierung

  p.card-message
    | Wenn Sie den Dienst nutzen, haben Sie die Möglichkeit, ein Konto zu registrieren. Wir empfehlen Ihnen, ein Konto zu registrieren, da die Einrichtung eines Kontos auf dem Dienst Ihnen Zugang zu besonderen Funktionen im Zusammenhang mit der Teilnahme an Online-Studien (Experimente oder Umfragen) oder der Erstellung eigener Studien ermöglicht. Wenn Sie dies tun, werden wir Sie bitten, uns im Rahmen des Registrierungsprozesses einige persönliche Informationen zur Verfügung zu stellen, von denen einige für die Registrierung des Kontos erforderlich sind. Sie versprechen, dass alle von Ihnen angegebenen Informationen korrekt sind und dass Sie diese in Zukunft korrekt und aktuell halten werden. Wir bitten Sie auch, ein Passwort anzugeben, um die Sicherheit Ihres Kontos zu schützen. Sie sind dafür verantwortlich, Ihr Passwort sicher und vertraulich zu verwahren. Jede Aktivität, die unter Ihrem Konto stattfindet, liegt in Ihrer Verantwortung. Sollten Sie jemals der Meinung sein, dass Ihr Konto möglicherweise nicht mehr sicher ist, müssen Sie uns unverzüglich benachrichtigen <a target="_blank" href="/docs/faq">hier</a>. Sie können Ihr Passwort auch unter https://open-lab.online/researcher/forgot oder https://open-lab.online/participant/forgot zurücksetzen.
    
  h5 
    .headerLink 4. Lizenz zur Nutzung des Dienstes 

  p.card-message
    | Unter der Voraussetzung, dass Sie sich weiterhin an diese Bedingungen halten, gewähren wir Ihnen die Erlaubnis, auf den Dienst nur für Ihren persönlichen Gebrauch zuzugreifen. Der Dienst ermöglicht es Ihnen, öffentliche Studien, die von Open-Lab-Benutzern hochgeladen wurden ("Studien"), zu suchen, anzusehen und herunterzuladen.
  
  p.card-message
    | Bitte beachten Sie, dass diese Lizenz nicht das Recht zur Nutzung beinhaltet:
  p.list-item 1. Marken, Logos oder Zeichen, die in Studien erscheinen
  p.list-item 2. Bilder von Menschen, wenn sie in Studien identifizierbar sind
  p.list-item 3. In Studien erscheinende Kunstwerke oder Autorenschaft
  p.card-message
    | Wenn Sie eine Studie mit einem dieser Kunstwerke herunterladen, benötigen Sie je nach Verwendung der Studie möglicherweise die Erlaubnis des Markeninhabers oder eines Autors. Bitte wenden Sie sich für weitere Informationen an den Ersteller der Studie, und wenn Sie sich immer noch unsicher sind, sollten Sie wahrscheinlich mit einem Anwalt sprechen, der mit diesen Angelegenheiten vertraut ist.

  h5 
    .headerLink 5. Benutzer-Content

  p.card-message
    | Sie sind der Eigentümer all Ihrer Benutzerinhalte, einschließlich aller Studien, die Sie auf die Website hochladen.
    
  p.list-item •	Allgemeine Bedingungen. Der Dienst ermöglicht Ihnen das Hochladen und Veröffentlichen Ihrer Studien sowie von schriftlichen Texten, Bildern, Weblinks, Standortinformationen und anderen Inhalten ("Benutzerinhalte"). Alle Benutzerinhalte, die Sie auf dem Dienst zur Verfügung stellen, sind Eigentum von Ihnen oder Ihren Lizenzgebern. Wir erheben keinen Anspruch auf das Eigentum an Ihren Benutzerinhalten - diese sind vollständig in Ihrem Besitz.
  p.list-item •	Beschränkte Lizenz. Wenn Sie Ihre Studie veröffentlichen, gewähren Sie uns eine weltweite, nicht-exklusive, gebührenfreie Lizenz (mit dem Recht zur Vergabe von Unterlizenzen) zum Hosten, Speichern, Übertragen, Anzeigen und Verteilen (ganz oder teilweise) Ihres Benutzerinhalts auf der Website. Sie erkennen an, dass wir Sie für die Nutzung Ihrer Studien nicht bezahlen werden und dass Ihre Studien der Öffentlichkeit zur Nutzung ohne Namensnennung oder Entschädigung zur Verfügung gestellt werden. Wenn Sie Ihre Studien nicht der Öffentlichkeit zur Verfügung stellen möchten, können Sie dennoch alle Funktionen des Dienstes uneingeschränkt nutzen.
  
  p.list-item •	Zusicherungen und Garantien. Sie sind allein verantwortlich für Ihre Benutzerinhalte und alle Folgen Ihres Hochladens oder Veröffentlichens von Benutzerinhalten auf dem Dienst. Jedes Mal, wenn Sie Benutzerinhalte hochladen oder veröffentlichen, erklären und garantieren Sie uns, dass Sie dies getan haben:

  p.list-item   -	Sie sind der Ersteller und Eigentümer des Benutzerinhalts oder haben alle notwendigen Rechte von anderen natürlichen oder juristischen Personen, um Ihren Benutzerinhalt auf dem Dienst wie in diesem Abschnitt vorgesehen zu nutzen und anderen Benutzern die Nutzung zu gestatten; und
  p.list-item   -	Ihre Benutzerinhalte (einschließlich derer, die von Ihnen, uns oder anderen Benutzern des Dienstes verwendet werden) verletzen nicht und werden nicht gegen die Rechte Dritter verstoßen oder diese missbrauchen, einschließlich Urheberrechte und andere Rechte an geistigem Eigentum, Persönlichkeitsrechte, Veröffentlichungsrechte oder moralische Rechte, oder jemanden verleumden, beleidigen oder verleumden. Das heißt, Ihr Benutzerinhalt muss Ihr Originalwerk sein, und Sie müssen die Erlaubnis von Dritten haben, die Rechte an dem Benutzerinhalt haben, bevor Sie den Benutzerinhalt auf den Dienst hochladen oder veröffentlichen.

  p.list-item •	Haftungsausschluss. Es gibt keine vernünftige Möglichkeit für uns, alle Benutzerinhalte zu überwachen, die auf den Dienst hochgeladen oder auf dem Dienst veröffentlicht werden, und wir sind weder Ihnen noch anderen Benutzern gegenüber verpflichtet, die Benutzerinhalte, die Sie und andere Benutzer auf den Dienst hochladen oder auf dem Dienst veröffentlichen, zu überwachen, zu bearbeiten oder zu kontrollieren. Dies bedeutet, dass wir nicht für Benutzerinhalte auf dem Dienst verantwortlich sind und Sie stimmen zu, keine Ansprüche gegen uns aufgrund von Benutzerinhalten geltend zu machen. Nichtsdestotrotz sind wir berechtigt, Benutzerinhalte jederzeit aus dem Dienst zu entfernen, zu bearbeiten, zu durchsuchen oder zu blockieren, wenn der Benutzerinhalt gegen diese Bedingungen verstößt oder anderweitig als anstößig empfunden wird. Wenn Sie den Dienst nutzen, werden Sie mit Benutzerinhalten anderer Benutzer konfrontiert, von denen einige beleidigend, ungenau oder anstößig sein können. Wir können Behauptungen nachgehen, dass Benutzerinhalte gegen diese Bedingungen verstoßen, und in solchen Fällen werden wir feststellen, welche Maßnahmen (falls zutreffend) wir in Bezug auf die fraglichen Benutzerinhalte ergreifen.
  
  h5 
    .headerLink 6. Verbotenes Verhalten

  p.card-message
    | Durch die Nutzung des Dienstes erklären Sie sich damit einverstanden, dies nicht zu tun:

  p.list-item a)	den Dienst für illegale Zwecke oder in Verletzung eines Gesetzes oder einer Vorschrift zu nutzen;
  p.list-item b)	Andere zu verletzen oder zu ermutigen, die Rechte anderer zu verletzen, einschliesslich der Verletzung oder widerrechtlichen Aneignung von Rechten des geistigen Eigentums;
  p.list-item c)	Benutzerinhalte hochladen, posten oder veröffentlichen, die rechtswidrig, verleumderisch, beleidigend, anstößig, gotteslästerlich, unanständig, pornografisch, belästigend, bedrohlich, hasserfüllt oder anderweitig unangemessen sind;
  p.list-item d)	Manipulation der Sicherheitsfunktionen des Dienstes (z.B. Deaktivierung oder Umgehung von Funktionen für den Zugriff auf private Studien oder Benutzerinhalte oder Reverse Engineering des Dienstes, um den Quellcode des Dienstes zu erhalten);
  p.list-item e)	Beeinträchtigung unseres Betriebs des Dienstes oder der Nutzung des Dienstes durch andere Benutzer (d.h. keine Viren, Adware oder Spyware hochzuladen oder zu verbreiten, keine unerwünschten Angebote oder Werbeaktionen zu machen, keine persönlichen Informationen über andere zu sammeln oder die Netzwerke oder Geräte zu stören, die wir zur Bereitstellung des Dienstes verwenden);
  p.list-item f)	Sich in betrügerische Aktivitäten zu begeben, wie z.B. sich als eine andere Person auszugeben;
  p.list-item g)	Zugriff auf den Dienst über Bots, Spider, Skripte, Crawler, Scraper oder andere automatisierte Tools oder Anwendungen (mit Ausnahme Ihres Webbrowsers oder anderer mobiler Anwendungen, die wir möglicherweise veröffentlichen);
  p.list-item h)	Kopieren des Erscheinungsbildes der Site oder Zugriff, Herunterladen, Kopieren, Modifizieren, Verteilen, Durchführen oder Verwenden von Studien, um einen ähnlichen oder konkurrierenden Dienst zu erstellen oder die Studien zu einem bestehenden ähnlichen oder konkurrierenden Dienst beizutragen;
  p.list-item i)	Übertragen Sie Ihre Rechte zur Nutzung des Dienstes oder zur Ansicht, zum Zugriff oder zur Nutzung von Materialien; oder
  p.list-item j)	Versuchen Sie, eines dieser Dinge zu tun oder jemand anderem dabei zu helfen.


  h5 
    .headerLink 7. Dienstleistungen anderer Unternehmen und verlinkte Websites

  p.card-message
    | Möglicherweise finden Sie auf dem Dienst Werkzeuge, die es Ihnen ermöglichen, Informationen, einschließlich Benutzerinhalte, an die Dienste anderer Unternehmen zu senden, z. B. Funktionen, die es Ihnen ermöglichen, Ihr Konto auf dem Dienst mit einem Konto auf einem anderen Dienst zu verknüpfen (wie Twitter oder Facebook oder Schaltflächen, um Inhalte anderer Unternehmen zu mögen oder mit anderen zu teilen). Wenn Sie diese Tools verwenden, gestatten Sie uns, diese Informationen an die Dienste der anderen Unternehmen zu senden, und Sie erkennen an, dass wir nicht für die Verwendung dieser Informationen durch die anderen Unternehmen verantwortlich sind, da wir diese überhaupt nicht kontrollieren. Sie können auf dem Dienst auch Links zu anderen Websites finden, die nicht von uns betrieben werden. Diese Websites stehen ebenfalls nicht unter unserer Kontrolle, daher entscheiden Sie bitte nach eigenem Ermessen, wann Sie den Dienst verlassen.
    
  h5 
    .headerLink 8. Kündigung Ihres Kontos

  p.card-message
    | Wenn Sie eine dieser Bedingungen verletzen, erlischt Ihre Erlaubnis zur Nutzung des Dienstes automatisch. Sie können Ihr Konto bei dem Dienst kündigen, indem Sie eine E-Mail an contact@open-lab.online senden.
    
  h5 
    .headerLink 9. Datenschutzrichtlinie und zusätzliche Anforderungen

  p.card-message
    | Wir möchten, dass Sie wissen, welche Informationen wir von Ihnen sammeln und wie wir sie verwenden. Bitte lesen Sie unsere Datenschutzrichtlinie (die "Datenschutzrichtlinie") sorgfältig durch. Die Datenschutzrichtlinie ist als Teil unserer Vereinbarung in diese Bedingungen integriert. Darüber hinaus können wir Sie über zusätzliche Anforderungen informieren, die Sie bei der Nutzung des Dienstes einhalten müssen. Zu diesen Anforderungen können beispielsweise Richtlinien der Gemeinschaft gehören. Alle zusätzlichen Richtlinien, die wir auf dem Dienst veröffentlichen oder auf den Dienst verlinken, werden als Teil unserer Vereinbarung in diese Bedingungen aufgenommen.
        
  h5 
    .headerLink 10. Änderung dieser Bedingungen

  p.card-message
    |  Wir können diese Bedingungen mit einer Frist von 1 Monat ändern. Falls und wenn wir dies tun, werden wir uns in angemessener Weise bemühen, Sie über die Änderungen zu informieren. Wir können solche Benachrichtigungen durch ein Pop-up-Banner, durch Senden einer E-Mail an eine mit Ihrem Konto im Dienst verknüpfte E-Mail-Adresse oder anderweitig zur Verfügung stellen, und wir werden Sie benachrichtigen, wenn die neue Version dieser Bedingungen in Kraft tritt. Wenn Sie die von uns vorgeschlagenen neuen Bedingungen nicht akzeptieren, können wir Ihr Konto sofort kündigen und Ihren Zugang zum Dienst beenden. Sollten wir Streitigkeiten bezüglich des Dienstes haben, werden diese in Übereinstimmung mit der zum Zeitpunkt des Entstehens der Streitigkeit gültigen Version dieser Bedingungen beigelegt.
      
  h5 
    .headerLink 11. Eigentum des Service

  p.card-message
    | Alle Software, visuellen Schnittstellen, Grafiken, Designs, Informationen und alle anderen Elemente des Dienstes (die "Materialien"), die wir zur Verfügung stellen, sind durch geistiges Eigentum und andere Gesetze geschützt. Wir oder unsere Lizenzgeber sind Eigentümer aller im Dienst enthaltenen Materialien, und Sie dürfen die Materialien nicht verwenden, es sei denn, dies ist in diesen Bedingungen ausdrücklich gestattet. 
    
  h5 
    .headerLink 12. Haftungsausschluss; keine Gewährleistungen

  p.card-message
    | Wir stellen den Dienst und alle über den Dienst verfügbaren Inhalte auf einer "as is"- und "as available"-Basis zur Verfügung, ohne jegliche Garantie, weder ausdrücklich noch stillschweigend. Soweit es das anwendbare Recht zulässt, lehnen wir ausdrücklich alle Gewährleistungen jeglicher Art ab, einschließlich der stillschweigenden Gewährleistungen der Marktgängigkeit, der Eignung für einen bestimmten Zweck, der Nichtverletzung von Rechten Dritter, des Eigentumsrechts und jeglicher Gewährleistungen, die sich aus dem Geschäftsverlauf, der Nutzung oder dem Handel ergeben. Wir garantieren oder sichern nicht zu, dass der Dienst unterbrechungsfrei, sicher oder frei von Fehlern oder schädlichen Komponenten ist oder dass wir Fehler oder schädliche Komponenten korrigieren. 
  p.card-message    
    | Mit Ausnahme der Bestimmungen in Abschnitt 13 unten nutzen Sie den Dienst auf eigenes Risiko und übernehmen das gesamte Risiko für Schäden, die sich aus Ihrer Nutzung des Dienstes oder Ihrem Zugang zu dem Dienst, Ihren Interaktionen mit anderen Nutzern des Dienstes und den über den Dienst verfügbaren Inhalten ergeben. Ihre Nutzung des Dienstes und Ihr Zugang, Ihre Nutzung, Ihr Zugriff, das Herunterladen oder die anderweitige Beschaffung von Materialien oder Inhalten über den Dienst und alle damit verbundenen Websites oder Dienste erfolgt nach Ihrem eigenen Ermessen und auf Ihr eigenes Risiko, und Sie sind allein verantwortlich für Schäden an Ihrem Eigentum (einschließlich Ihres in Verbindung mit dem Dienst verwendeten mobilen Geräts) oder für Datenverluste, die aus Ihrer Nutzung des Dienstes oder aus dem Herunterladen oder der Nutzung des Inhalts resultieren.
  p.card-message    
    | Das Gesetz verbietet an einigen Orten den Ausschluss von Gewährleistungen, und Sie haben möglicherweise weitere Rechte, die je nach Wohnort variieren können. Wir schließen unsere Haftung Ihnen gegenüber in keiner Weise aus oder beschränken sie, wenn dies unrechtmäßig wäre. Im Vereinigten Königreich und der Europäischen Union schließt dies die Haftung für Tod oder Körperverletzung ein, die durch unsere Fahrlässigkeit oder die Fahrlässigkeit unserer Mitarbeiter, Vertreter oder Subunternehmer verursacht wurde; für Betrug oder betrügerische Falschdarstellung; oder für unsere Verpflichtung, den Dienst mit angemessener Sorgfalt und Sachkenntnis bereitzustellen, oder für unser Versäumnis, den Dienst gemäß den über uns oder den Dienst bereitgestellten Informationen bereitzustellen.

  h5 
    .headerLink 13. Allgemein

  p.card-message
    | Diese Bedingungen stellen zusammen mit der Datenschutzrichtlinie und anderen Richtlinien, die in diese Bedingungen integriert sind, die gesamte Vereinbarung zwischen Ihnen und uns in Bezug auf Ihre Nutzung des Dienstes dar. Abgesehen von unserem Recht, diese Bedingungen gemäß Abschnitt 12 oben zu aktualisieren, können diese Bedingungen nur durch eine schriftliche Vereinbarung geändert werden, die sowohl von Ihnen als auch von uns unterzeichnet ist. Sie sind nicht berechtigt, diese Bedingungen ohne unsere Zustimmung an eine andere natürliche oder juristische Person abzutreten oder zu übertragen oder Ihr Konto auf den Dienst zu übertragen, einschließlich aller Übertragungen, die Sie im Zusammenhang mit einer Geschäftsakquisition vornehmen möchten. Wir können diese Bedingungen mit oder ohne Benachrichtigung an Sie abtreten. Eine Verzögerung oder ein Versäumnis Ihrerseits, Rechte aus diesen Nutzungsbedingungen durchzusetzen oder die Einhaltung dieser Nutzungsbedingungen zu verlangen, berührt nicht unser Recht, diese Rechte zu einem späteren Zeitpunkt durchzusetzen oder ihre Einhaltung zu verlangen. Wenn wir auf einen Verstoß Ihrerseits gegen diese Nutzungsbedingungen verzichten, verzichten wir nicht auf einen späteren Verstoß oder Ihre Verpflichtung zur Einhaltung der von Ihnen verletzten Bedingungen. Wir haben der Einfachheit halber Absatz- und Abschnittsüberschriften eingefügt, aber diese Überschriften haben keinen Einfluss auf die Auslegung dieser Bedingungen. Für den Fall, dass ein Teil dieser Bedingungen von einem Richter oder Schiedsrichter für nicht durchsetzbar befunden wird, wird der nicht durchsetzbare Teil so weit wie möglich durchgesetzt, und die verbleibenden Teile bleiben in vollem Umfang in Kraft und wirksam.
      
  h5 
    .headerLink 14. Zustimmung zur elektronischen Kommunikation

  p.card-message
    | Sie stimmen zu, elektronische Mitteilungen von uns zu erhalten, wie in unserer Datenschutzrichtlinie beschrieben. Bitte lesen Sie unsere Datenschutzbestimmungen, um Ihre Entscheidungen bezüglich unserer elektronischen Kommunikationspraktiken zu verstehen. Wir können Ihnen Mitteilungen, Vereinbarungen, Offenlegungen oder andere Mitteilungen elektronisch zusenden.
        
  h5 
    .headerLink 15. Kontaktinformationen

  p.card-message
    | Sie können uns erreichen, indem Sie eine E-Mail an contact@open-lab.online senden oder Ihre Anfrage <a target="_blank" href="/docs/faq">hier</a> einreichen.
