mixin impressum()

  h4 
    .headerLink Impressum
  h5.headerLink#m46 Diensteanbieter
  p Open Lab Online UG (haftungsbeschränkt)
  p Friedrichstrasse 6b
  p 78464 Konstanz
  p Deutschland
  h5.headerLink#m56 Kontaktmöglichkeiten
  p
    strong E-Mail-Adresse:
    |  info@open-lab.online
  p
    strong Telefon:
    |  (49) 178 418 81 54
  h5.headerLink#m153 Vertretungsberechtigte
  p
    strong Vertretungsberechtigt:
    |  Yury Shevchenko (Geschäftsführer)
  h5.headerLink#m58 Angaben zum Unternehmen
  p
    strong Umsatzsteuer Identifikationsnummer (USt-ID):
    |  09048/21274
  p
    strong Wirtschafts-Identifikationsnummer (W-IdNr):
    |  i.G.
  p
    strong Geschäftsbereich:
    |  IT-Dienstleistungen
  p
    strong Mitglied der Industrie- und Handelskammer Hochrhein-Bodensee 
    |  Ident-Nr. 484896
  p
  strong AGB:
  a(href='https://open-lab.online/docs/dienstbedingungen')  https://open-lab.online/docs/dienstbedingungen
  h5.headerLink#m151 Register und Registernummer
  p Handelsregister
  p
    strong Geführt bei:
    |  Amtsgericht Freiburg im Breisgau
  p
    strong Nummer:
    |  HRB 722197
  h5.headerLink#m174 Online-Streitbeilegung (OS)
  p
    | Online-Streitbeilegung: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter 
    a(href='https://ec.europa.eu/consumers/odr/') https://ec.europa.eu/consumers/odr/
    |  finden. Verbraucher haben die Möglichkeit, diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.
  p.seal
  a(href='https://datenschutz-generator.de/?l=de', title='Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken.', rel='noopener noreferrer nofollow')
    img(src='https://datenschutz-generator.de/wp-content/plugins/ts-dsg/images/dsg-seal/dsg-seal-ln-de.png', alt='Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken.', width='250', height='250')
