mixin legalnotice()
  
  h4 
    .headerLink Legal Notice
  h5.headerLink#m46 Provider
  p Open Lab Online UG (haftungsbeschränkt)
  p Friedrichstrasse 6b
  p 78464 Konstanz
  p Germany
  h5.headerLink#m56 Contact Options
  p
  strong E-Mail Address:
  |  contact@open-lab.online
  p
  strong Phone:
  |  (49) 178 418 81 54
  h5.headerLink#m153 Representatives
  p
  strong Representative/s:
  |  Yury Shevchenko (Managing Director)
  h5.headerLink#m58 Company Details
  p
  strong VAT identification number:
  |  i.G.
  p
  strong Economy-identification number:
  |  i.G.
  p
  strong Business area:
  |  IT-Service
  p
  strong Terms:
  a(href='https://open-lab.online/docs/terms')  https://open-lab.online/docs/terms
  h5.headerLink#m151 Register, Type of Register and Register Number
  p Commercial Register
  p
  strong The register is administered by:
  |  Local court Freiburg im Breisgau
  p
  strong Register number:
  |  HRB 722197
  h5.headerLink#m174 Online Dispute Resolution (ODR)
  p
  | Online dispute resolution: The European Commission provides a platform for Online Dispute Resolution (ODR), which can be accessed at 
  a(href='https://ec.europa.eu/consumers/odr/.') https://ec.europa.eu/consumers/odr/.
  |  Consumers have the possibility to use this platform to settle their disputes.
  p.seal
  a(href='https://datenschutz-generator.de/?l=en', title='Legal text by Dr. Schwenke - please click for further information.', rel='noopener noreferrer nofollow')
    img(src='https://datenschutz-generator.de/wp-content/plugins/ts-dsg/images/dsg-seal/dsg-seal-ln-en.png', alt='Legal text by Dr. Schwenke - please click for further information.', width='250', height='250')
