html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  background: #fcfcff;
  &:before {
  }
}

.content {
  min-height: 94%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.content-inside {
  padding-bottom: 100px;
}

footer {
  border-top: 1px #e8e8f1 solid;
  background: #fcfcff;
  padding: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1);
}

.inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.cameraPanel video, .cameraPanel canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

.cameraPanel #pick-image {
  display: none;
}

.cameraPanel #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}

#location-loader {
  display: none;
}

.container_picker{
  width: 250px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.notificationsPanel {
  display: grid;
}

.notificationContainer{
  display: grid;
}

.cronintervalPicker{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}

#enable_notifications{
  display: none;
}

#disable_notifications{
  display: none;
}
